@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:ital@0;1&display=swap');

body {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Nunito';
    background-color: #E6E6E6;
    color: #000;
    transition: all 0.3s ease-in-out;
}

button {
    border: 0;
    background: transparent;
}

header {
    font-size: 26px;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_container {
    background-color: #CECECE;
    border-radius: 2em;
    height: 30vh;
    width: 66vw;
}

.video_container video {
    width: 36vw;
    max-width: 347px;
    height: 27vh;
    max-height: 201px;
    border-radius: 2em;
}

.movie_container {
    background-color: #CECECE;
    border-radius: 2em;
    width: 90vw;
    min-height: 88vh;
    margin: 1%;
    padding: 1%;
    flex-wrap: wrap;
}

footer {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background-color: #CECECE;
    margin-bottom: 0;
}

.search {
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2em;
    background-color: #E6E6E6;
    height: 25px;
}

.search input {
    outline: 0;
    appearance: none;
    border: 0;
    background-color: #E6E6E6;
    font-size: 20px;
    width: 8em;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.search input:focus {
    width: 15em;
}

.search input:focus::placeholder {
    color: transparent;
}

.Link {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-bottom: 8px;
}

a {
    color: #000;
    font-variant: normal;
    text-decoration: none;
}

.navbar {
    padding-left: 1em;
    padding-right: 0.8em;
    margin-bottom: 0.3em;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CECECE;
}

.navbar div {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.line {
    border-radius: 5px;
    height: 1.5em;
    width: 2px;
    background-color: #A5A5A5;
}

.switch {
    cursor: pointer;
    transition: ease-in-out all 0.3s;
}

.switch:hover {
    background-color: #A5A5A5;
}

/* .lang {
    height: 1.3em;
    width: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    background-color: #CECECE;
    border-radius: 2em;
}

.lang:hover {
    height: 4em;
    box-shadow: 0 3px 13px 0px black;
    width: 2em;
} */

.movie_card {
    position: relative;
    width: 22vw;
    margin: 2%;
}

.movie_card .movie_cover {
    width: inherit;
    border-radius: 15px;
    transition: filter 0.2s ease-in;
}

.rating {
    position: absolute;
    top: 0;
    left: 0;

    background-color: yellow;
    padding: 4px;
    color: #000;
    font-size: large;
    border-radius: 0 0 7px 0;
}

.movie_card .description {
    position: absolute;
    width: inherit;
    height: 26vh;
    overflow: hidden;
    justify-self: center;
    color: transparent;
    transition: all 0.2s ease-in;
}

.movie_card:hover img{
    filter: blur(1.5px) brightness(50%);
}

.movie_card:hover span {
    color: #fff;
}

.dark {
    background-color: #222;
    color: #fff;
}