footer {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem/* 20px */;
    border-top-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(43 44 53 / var(--tw-text-opacity));
}

.inner_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25rem/* 20px */;
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
    padding-top: 2.5rem/* 40px */;
    padding-bottom: 2.5rem/* 40px */;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem/* 24px */;
}

.footer_about {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0%;
    width: 100%;
    gap: 5rem/* 80px */;

}

.font-bold {
    font-weight: 700;
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.about_block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem/* 24px */;
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    min-width: 170px;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
    padding-top: 2.5rem/* 40px */;
    padding-bottom: 2.5rem/* 40px */;
    margin-top: 2.5rem/* 40px */;
    border-top-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));

}

.terms_of_use {
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
    gap: 2.5rem/* 40px */;
}

@media not all and (min-width: 768px) {
    .inner_footer {
        flex-direction: column;
        margin-top: 2.5rem/* 40px */;
    }
    .footer_about {
        justify-content: flex-end;
    }
}

@media not all and (min-width: 768px) {
    .footer_about {
        margin-top: 2.5rem/* 40px */;
    }
}

@media not all and (min-width: 640px) {
    .terms_of_use {
        margin-top: 1rem/* 16px */;
    }
}

@media (min-width: 640px) {
    .copyright {
        padding-left: 4rem/* 64px */;
        padding-right: 4rem/* 64px */;
    }
    .terms_of_use {
        justify-content: flex-end;
    }
}