.card_grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem/* 32px */;
    padding-top: 3.5rem/* 56px */;
}

@media (min-width: 1536px) {
    .card_grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .card_grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .card_grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}