.form_input {
  display: flex;
  width: 100%;
  padding: 0.75rem /* 12px */;
  margin-top: 0.5rem /* 8px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  border-radius: 0.5rem /* 8px */;
  outline-width: 0px;
  transition-property: background-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.form_input:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.form_input:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.login {
  padding-bottom: 0.5rem/* 8px */;
  text-align: center;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.submit_btn {
  margin-top: 0.5rem/* 8px */;
}